<md-card class="example-card">
  <md-card-header>
    <md-card-title>{{products[index].name}}</md-card-title>
  </md-card-header>
  <img md-card-image src="{{products[index].url}}">
  <md-card-content>
    <p>
      {{products[index].description}}
    </p>
  </md-card-content>
  <md-card-actions class="navigation">
    <button md-button (click)="showPrev()" [disabled]="index==0">Назад</button>
    <button md-button (click)="showNext()" [disabled]="index==products.length-1">Вперед</button>
  </md-card-actions>
</md-card>
