<search (getFilms)="addFilms($event)"></search>
<select-view (selectView)="selectView($event)"></select-view>
<md-grid-list cols="2" [rowHeight]="rowHeightRequired" (load)="isLoaded = true;">
  <md-grid-tile *ngFor="let film of filmList">
    <film-card [filmId]="film.imdbID" [view]="viewRequired"></film-card>
  </md-grid-tile>
</md-grid-list>
<!--<div>
  <img id="md-spinner" src="../../assets/images/loading.gif" alt="Loading ..." *ngIf="isLoading">
</div>-->
<md-spinner *ngIf="isLoading"></md-spinner>
<button class="btnAdd" md-button (click)="addMoreFilms()" [style.display]="isLoading ? 'none' : 'block'">Больше фильмов</button>



