.app-content {
  margin: 50px auto;
  max-width: 884px;
}
.film-card {
  max-width: 300px;
  height: 900px;
  margin-bottom: 280px;
  position: relative;
}
.example-form {
  margin: 20px 0 50px 20px;
  text-align:center;
}
img {
  max-width: 350px;
  height: 550px;
}
button {
  position: absolute;
  bottom:10px;
  left:10px;
}
