<md-card class="film-card">
  <img md-card-image src="{{filmDetails.Poster}}">
  <md-card-content>
    <md-card-title>{{filmDetails.Title}}</md-card-title>
    <p>Производство: {{filmDetails.Production}}</p>
    <p>Страна: {{filmDetails.Country}}</p>
    <p>Релиз: {{filmDetails.Released}}</p>
    <p>{{filmDetails.Plot}}</p>
    <p>Продолжительность: {{filmDetails.Runtime}}</p>
    <p>Рейтинг: {{filmDetails.imdbRating}}/10</p>
  </md-card-content>
  <md-card-actions>
    <button md-button>Подробнее</button>
  </md-card-actions>
</md-card>
