.app-content {
  margin: 50px auto;
  max-width: 884px;
}
.film-card {
  max-width: 300px;
  height: 700px;
  margin-bottom: 150px;
}
.example-form {
  margin: 20px 0 50px 20px;
}
img {
  max-width: 350px;
  height: 550px;
}
